.layout {
  height: 0;
  min-height: 100vh;
  &__main-content {
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
  }
  &__content {
    flex: 1 1 auto;
    height: 100%;
  }

  &__sidebar {
    max-width: 400px;
    min-height: 100vh;
  }
}