.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.body {
  margin-top: 30px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  &__header {
  }

  &__search-panel {
  }

  @media (max-width: 1024px) {
    margin-top: 0;
  }
}

.discover-button {
  background-color: var(--color-neutral-contrast) !important;

  &:hover {
    background-color: var(--color-neutral-contrast--dark);
  }

  @media (hover: none) {
    &:hover {
      background-color: var(--color-neutral-contrast);
    }
  }
}