.section {
  &__head {

  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
  }
  &__description {
    color: var(--color-neutral-contrast--light);
    line-height: 130%;
  }

  &__content {
    margin-top: 10px;
  }
}