.layout {
  min-height: 100vh;
  background-color: var(--color-neutral-main);
  display: flex;
  flex-direction: column;

  &__container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__content {
    border-radius: 15px;
    max-width: 500px;
    box-shadow: 0 0 15px var(--color-neutral-main--dark);
    background-color: white;
    padding: 25px;
    height: 100%;
  }

  @media (max-width: 600px) {
    background-color: white;

    &__content {
      max-width: 100%;
      box-shadow: initial;
      padding: 0;
      background-color: white;
    }
  }
}
