.card {
  width: 100%;
  border: 1px solid var(--color-neutral-main--dark);
  border-radius: 12px;
  overflow: hidden;
  &__img-wrapper {
    width: 100%;
  }

  &__image {
    width: 100%;
    max-height: 450px;
    aspect-ratio: 1/0.8;
    object-fit: cover;
  }
}

.body {
  &__container {
    padding: 12px 20px 32px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    margin-right: auto;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
  }
  &__description {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &__time-ago {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 20%;
  }
}

.illustration {
  width: 100%;
  max-height: 450px;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__icon {
    color: #c8ccca;
    position: relative;
  }
}

.illustration-skeleton {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}
