.filter-item {

}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  background-color: var(--color-neutral-main--dark);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .3s var(--transition-power--in-out);

  &__label {
    text-wrap: nowrap;
  }

  &__selected-value {
    display: block;
    border-radius: 8px;
    padding: 2.5px 5px;
    font-size: 11px;
    color: var(--color-primary);
    background-color: var(--color-neutral-main--darken);
    text-wrap: nowrap;
  }

  &:hover {
    background-color: var(--color-neutral-main--darken);
  }
}

.popup {
  min-width: 150px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--color-neutral-main);
  box-shadow: 0 0 4px var(--color-neutral-main--darken);
}

.remove-filter-panel {
  border-top: 1px solid var(--color-neutral-main--dark);
  margin-top: 5px;
  padding-top: 5px;

  &__button {
    width: 100%;
  }
}