.button-toggle {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 10;

  display: inline-flex;
  gap: 2.5px;
  align-items: center;
  width: 23px;
  aspect-ratio: 1;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid var(--color-neutral-contrast--lighten);
  cursor: pointer;

  &__rect {
    display: block;
    width: 8px;
    border-radius: 2px;
    height: 100%;
    background-color: var(--color-neutral-contrast--light);

    transition: width 0.3s var(--transition-power--in-out);
  }

  &__arrow {
    font-size: 8px;
    color: var(--color-neutral-contrast--light);
  }

  &:hover &__rect {
    width: 2px;
  }

  &_open:hover &__rect {
    width: 8px;
  }

  &_open &__rect {
    width: 2px;
  }
  &_open &__arrow {
    rotate: 180deg;
  }
}
