.remove-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  text-wrap: nowrap;

  &:hover {
    background-color: var(--color-neutral-main--dark);
  }

  @media (hover: none) {
    &:hover {
      background-color: initial;
    }
  }
}
