.body{
  &__header {
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-neutral-main--dark);
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
  }

  &__description {
    max-width: 550px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-neutral-contrast--light);
  }

  &__search-panel {
    margin-top: 30px;
  }
}