.card {
  width: 100%;
  transition: opacity 0.3s var(--transition-power--in-out);
  &__img-wrapper {
    width: 100%;
    aspect-ratio: 1/0.8;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    &:hover {
      .card__image {
        scale: 1.05;
      }
    }

    @media (hover: none) {
      &:hover {
        .card__image {
          scale: initial;
        }
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.3s var(--transition-power--in-out);
  }

  &_fetching {
    opacity: 0.5;
  }
}

.body {
  &__container {
    padding-top: 10px;
  }
}

.title {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  &__link {
    display: inline-block;
    text-decoration: none;
  }

  &:hover &__link {
    text-decoration: underline;
  }

  @media (hover: none) {
    &:hover &__link {
      text-decoration: initial;
    }
  }
}

.button-menu {
  position: absolute;
  top: 0;
  right: 0;

  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}