.cards-panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 30px 20px;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
