.card {
  width: 100%;
  border: 1px solid var(--color-neutral-main--dark);
  border-radius: 12px;
  overflow: hidden;
  &__img-wrapper {
    width: 100%;
    overflow: hidden;
    &:hover {
      .card__image {
        scale: 1.05;
      }
    }
  }

  &__image {
    width: 100%;
    max-height: 450px;
    aspect-ratio: 1/.8;
    object-fit: cover;
    transition: scale .3s var(--transition-power--in-out);
  }
}

.body {
  &__container {
    padding: 12px 20px 32px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__description {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-neutral-contrast--light);
    text-wrap: pretty;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &__time-ago {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-neutral-contrast--light);
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.control {
  cursor: pointer;
}
.control_add-to-favorites.control_active {
  color: red;
  svg {
    fill: red;
  }
}

.title {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  &__link {
    display: inline-block;
    text-decoration: none;
  }

  &:hover &__link {
    text-decoration: underline;
  }
}

.illustration {
  width: 100%;
  max-height: 450px;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-main--dark);

  &__icon {
    color: var(--color-neutral-main--darken);
  }
}