.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
