.header {
  display: flex;
  align-items: center;
  justify-content: a;
  gap: 10px;

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: start !important;
    justify-content: start !important;
  }
}
