.button {
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: var(--color-neutral-contrast);
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  transition: background-color .3s var(--transition-power--in-out);

  &:hover {
    background-color: var(--color-neutral-main--dark);
  }
}

.icon {
  color: var(--color-neutral-contrast);

  &_active {
    color: var(--color-primary);
    fill: var(--color-primary);
  }
}

.title {
}
