.popup {
  min-width: 150px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--color-neutral-main);
  box-shadow: 0 0 4px var(--color-neutral-main--darken);

  @media (hover: none) {
    box-shadow: initial;
    border-radius: 0;
    padding: 0;
  }
}

.dropdown-range {
  width: 100%;
  min-width: 200px;

  &__value {
    display: block;
    text-align: center;
    font-size: 14px;
  }
}
