:root {
  --color-primary: #08af5f;
  --color-primary--light: rgb(234, 246, 255);
  --color-primary--dark: rgb(14, 105, 181);

  --color-neutral-main: #f1f6f3;
  --color-neutral-main--light: #f1f6f3;
  --color-neutral-main--lighten: #f1f6f3;
  --color-neutral-main--dark: #e7edea;
  --color-neutral-main--darken: #d9e1dd;

  --color-neutral-contrast: #111212;
  --color-neutral-contrast--light: #878b8b;
  --color-neutral-contrast--lighten: #acb0b0;
  --color-neutral-contrast--dark: #111212;
  --color-neutral-contrast--darken: #111212;

  --font-primary: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

  --transition-power--in-out: linear( 0, 0.0036 9.62%, 0.0185 16.66%, 0.0489 23.03%, 0.0962 28.86%, 0.1705 34.93%, 0.269 40.66%, 0.3867 45.89%, 0.5833 52.95%, 0.683 57.05%, 0.7829 62.14%, 0.8621 67.46%, 0.8991 70.68%, 0.9299 74.03%, 0.9545 77.52%, 0.9735 81.21%, 0.9865 85%, 0.9949 89.15%, 1 );
  --transition-elastic--in-out: linear( 0, 0.0009 8.51%, -0.0047 19.22%, 0.0016 22.39%, 0.023 27.81%, 0.0237 30.08%, 0.0144 31.81%, -0.0051 33.48%, -0.1116 39.25%, -0.1181 40.59%, -0.1058 41.79%, -0.0455, 0.0701 45.34%, 0.9702 55.19%, 1.0696 56.97%, 1.0987 57.88%, 1.1146 58.82%, 1.1181 59.83%, 1.1092 60.95%, 1.0057 66.48%, 0.986 68.14%, 0.9765 69.84%, 0.9769 72.16%, 0.9984 77.61%, 1.0047 80.79%, 0.9991 91.48%, 1 );
}
